{% extends "inicioMain.html" %} {% load static %}
{% block title %} ¿Que es COVID Watcher? {% endblock %} 
{% block content %}


        <div class="container px-4 py-5" id="featured-4">
            <div class="card" id="titulo2">
                <p>COVID Watcher es un sistema web que te ayuda a detectar de forma temprana un posible portador del virus COVID-19 en tu empresa, ademas de alertar de las areas de la empresa en donde es mas posible contraer el virus. Al crear una cuenta
                    como usuario "administrador" tienes la opción de personalizar el perfil de tu empresa para poder realizar el análisis de la forma mas cercana posible a tu situación real. Ademas, podrás consultar los datos resultantes del procesado
                    de datos de forma resumida y ordenada en distintos formatos. En cambio, como usuario "empleado" seras capaz de ingresar diariamente a contestar una serie de cuestionarios que nos ayudaran a obtener resultados mas certeros, ademas de
                    poder reportar un posible caso de COVID-19 de forma manual. COVID Watcher requiere que los empleados respondan al cuestionario diariamente para poder generar datos lo mas cercanos a la realidad, por lo que el sistema cuenta con alertas
                    que recibe el administrador para informar de las personas que no han contestado el formulario en repetidas ocasiones, ademas de otras situaciones que puedan comprometer los resultados generados.
                </p>
            </div>
        </div>

{% endblock %}
