{% extends "menuAdminPlantilla.html" %} {% load static %}
{% block content %}



<div class="container px-4 py-5">
    {% if adminreport %}

    <h2 class="pb-2 border-bottom" style="text-align: center;">Reportes</h2>
    <br>

    <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-md-4 col-form-label text-md-right">Tipo:</label>
            <div class="col-md-6">
                <select class="form-control" id="tipo" name="tipo">
                    <option>Seleccione una opción</option>
                    <option value="Vacaciones">Vacaciones</option>
                    <option value="Enfermedad">Enfermedad</option>
                    <option value="Otro">Otro</option>
                </select>
            </div>
        </div>
        <br>
        <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-warning">
                Buscar
            </button>
            <br>
        </div>
        <br>
        <div class="col-md-8">
            <a href="{% url 'alertaFaltasReporteTipoPDF' %}" style="text-decoration:none">
                <button type="button" class="btn btn-warning">Generar PDF</button>
            </a>
        </div>
        <br>
    </form>


    <br>

    {% for ReporteDeFalta in adminreport %}

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col offset-md-1" id="col1">
            <h2>{{ ReporteDeFalta.tipo }}:</h2>
            <p>Nombre del empleado: {{ ReporteDeFalta.nombre }}</p>
            <p>Correo: {{ ReporteDeFalta.idempleado.correo }}</p>
            <p>Area: {{ ReporteDeFalta.idarea.nombre }}</p>
            <p>Fecha de inicio de falta: {{ ReporteDeFalta.fechainiciofalta }}</p>
            <p>Fecha de fin de falta: {{ ReporteDeFalta.fechafinfalta }}</p>
            <p>Comentario adicional:</p>
            <p>{{ ReporteDeFalta.comentario }}</p>
            <p>Fecha de emisión: {{ ReporteDeFalta.fechahora }}</p>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="alert alert-danger">No hay ningún reporte.</div>
    {% endif %}
</div>

{% endblock %}