{% extends "menuAdminPlantilla.html" %} {% load static %}
{% block content %}


<div class="container px-4 py-5">
<br>
<form class="form" method="POST">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-md-4 col-form-label text-md-right">Fecha:</label>
        <div class="col-md-6">
            <input type="month" id="fechafiltro" class="form-control" name="fechafiltro">
        </div>
    </div>
    <br>
    <div class="col-md-6 offset-md-4">
        <button type="submit" class="btn btn-warning">
            Buscar
        </button>
        <br>
    </div>
    <br>
    <div class="col-md-8">
        <a href="{% url 'historialResMesPDF' %}" style="text-decoration:none">
            <button type="button" class="btn btn-warning">Generar PDF</button>
        </a>
    </div>
    <br>
</form>

{% if datossi %}
<br>
    <h2 class="pb-2 border-bottom" style="text-align: center;">Datos generales</h2>
    <br>
    <br>
    <div class="row justify-content-around">
      <div class="col-4" id="col1">
          <h4>Casos negativos de la empresa detectados en el mes: {{ totalempneg }}</h4>
      </div>
      <div class="col-4" id="col1">
          <h4>Casos positivos de la empresa detectados en el mes: {{ totalemppos }}</h4>
      </div>
    </div>
    
    <div class="row justify-content-around">
      <div id="container" style="width: 50%;" class="col-4">
          <canvas id="bar2"></canvas>
      </div>
      <div id="container" style="width: 50%;" class="col-4">
        <canvas id="line2"></canvas>
      </div>
    </div>
    <br>
    <br>
    <h2 class="pb-2 border-bottom" style="text-align: center;">Areas</h2>
    <br>
    <br>
    <div class="container">
        {% for area in datosareas %}
        {% if forloop.first %}
        <div class="row justify-content-around">
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <br> 
        <br>
        <div class="row justify-content-around">
        {% endif %}

 
        <div class="col-4" id="col1">
            <h1>{{ area.0 }}%</h1>
            <br>
            <h5>de los registros de empleados del area de {{ area.3 }} en este mes fueron posibles portadores.</h5>
            <p>Casos positivos detectados en el mes: {{ area.1 }}:</p>
            <p>Casos negativos detectados en el mes: {{ area.2 }}</p>
        </div>
        <br>
    {% if forloop.last %}
    </div> 
    {% endif %}
    {% endfor %}
    </div>
    <br>
    <br>

    <div id="container" style="width: 75%; margin:auto;">
        <canvas id="pie-chart"></canvas>
      </div>
      <br>
      <br>
      <br>
      <br>
    <div class="row justify-content-around">
      <div class="col-4" id="col1">
          <h3>Tipo de actividad con mayor numero de posibles contagios:</h3>
          <br>
          <h5>{{ datostiposfn.0 }}</h5>
          <p>Casos positivos: {{ datostiposfn.1 }}</p>
      </div>
      <div class="col-4" id="col1">
        <h3>Tipo de actividad con menor numero de posibles contagios:</h3>
        <br>
        <h5>{{ datostiposfn.2 }}</h5>
        <p>Casos positivos: {{ datostiposfn.3 }}</p>
      </div>
      
    </div>
    <br>
    <br>
    <div id="container" style="width: 75%; margin:auto;">
      <canvas id="pie3"></canvas>
    </div>
    <br>
    <br>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
    

        var config2 = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ posarea|safe }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
              ],
              label: 'Posibles casos positivos.'
            }],
            labels: {{ arealistnomb|safe }}
          },
          options: {
            responsive: true,
            legend: {
                position: 'top',
              },
            title: {
                display: true,
                text: 'Posibles casos positivos por area.'
            }
          }
        };


        var config4 = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ posmonth|safe }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
              ],
              label: 'Posibles casos positivos.'
            }],
            labels: {{ nombmonth|safe }}
          },
          options: {
            responsive: true,
            indexAxis: 'y',
            legend: {
                position: 'top',
              },
            title: {
                display: true,
                text: 'Posibles casos positivos del mes en curso.'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        reverse: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        stepSize: 1,
                    }
                }]
            }
          }
        };

        var config5 = {
          type: 'line',
          data: {
            datasets: [{
              data: {{ posmonth|safe }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
              ],
              label: 'Posibles casos positivos.'
            }],
            labels: {{ nombmonth|safe }}
          },
          options: {
            responsive: true,
            indexAxis: 'y',
            legend: {
                position: 'top',
              },
            title: {
                display: true,
                text: 'Posibles casos positivos del mes en curso.'
            },
            scales: {
                xAxes: [{
                    ticks: {
                        reverse: false,
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        callback: function (value) { if (Number.isInteger(value)) { return value; } },
                        stepSize: 1,
                    }
                }]
            }
          }
        };

        var config6 = {
          type: 'pie',
          data: {
            datasets: [{
              data: {{ datostipos|safe }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
              ],
              label: 'Posibles casos positivos.'
            }],
            labels: {{ datostiposnom|safe }}
          },
          options: {
            responsive: true,
            legend: {
                position: 'top',
              },
            title: {
                display: true,
                text: 'Posibles casos positivos por tipo de actividad.'
            }
          }
        };

    
        window.onload = function() {
          var ctx2 = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx2, config2);
          var ctx4 = document.getElementById('bar2').getContext('2d');
          window.myLine = new Chart(ctx4, config4);
          var ctx5 = document.getElementById('line2').getContext('2d');
          window.myLine = new Chart(ctx5, config5);
          var ctx6 = document.getElementById('pie3').getContext('2d');
          window.myLine = new Chart(ctx6, config6);
        };
    
      </script>
    {% else %}
    <div class="alert alert-danger">No hay ningún reporte de esta fecha.</div>
    {% endif %}
</div>

{% endblock %}