{% extends "registroPlantilla.html" %} {% load static %}
{% block title %} Registro de empleado {% endblock %} 
{% block content %}


    <center>
    <iframe width="640" height="480"
    src="https://www.youtube.com/embed/6KsRJ7naL_E">
    </iframe>
    </center>
    <br>
    <br>
    <center>
        <a href="{% url 'registroEmpleadoIntro2' %}" style="text-decoration:none">
            <button type="button" class="btn btn-warning" id="myButton" disabled="disabled">Continuar</button>
        </a>
    </center>


{% endblock %}