{% extends "registroPlantilla.html" %} {% load static %}
{% block title %} Registro de empleado {% endblock %} 
{% block content %}

        <div class="container px-4 py-5">
            <form class="form" method="POST">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="correo" class="col-md-4 col-form-label text-md-right">Dirección de correo electrónico</label>
                    <div class="col-md-6">
                        <input type="email" id="correo" class="form-control" name="correo" required>
                    </div>
                </div>
                <br>
        
                <div class="form-group row">
                    <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                    <div class="col-md-6">
                        <input type="password" id="password" class="form-control" name="password" required>
                    </div>
                </div>
                
                <br>

                <div class="col-md-6 offset-md-4">
                    <button type="submit" class="btn btn-warning">
                        Registrar
                    </button>
                    <br>
                </div>
            </form>
        </div>
{% endblock %}